<!DOCTYPE html>
<html>
  <head>
    <title>Notenübersicht - Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src='/javascripts/script.js'></script>
    <div class='header-container'>
      <%- include('./header'); %>
    </div>
    <div class='content'>
      <h1>## TODO ##</h1>
    </div>
  </body>
</html>
