<div class='header'>

  <img src="/images/mmge-logo.png" class="headerimage">

  <div class="filler"></div>

  <!-- Navigation Bar richtig erstellen -->
  <h1 class="headertext">*TODO* Navigation Bar</h1>

  <div class="headerText">

  <!--<h1>Maria Montessori</h1>-->

  </div>


</div>
