<!DOCTYPE html>
<html>
  <head>
    <title>Notenübersicht</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src='/javascripts/script.js'></script>
    <div class='header-container'>
      <%- include('./header'); %>
    </div>
    <div class='content'>
      <div class='nav-tabs col'>
        <a href='/admin' class="adminButton">Admin Oberfläche</a>
      </div>
      <div class='nav-tabs col'>
        <div>
          <h3>Schüler:innen</h3>
          <b>### TODO ###</b>
        </div>
        <div>
          <h3>Lehrer:innen</h3>
          <b>### TODO ###</b>
        </div>
      </div>
    </div>
  </body>
</html>
