<!DOCTYPE html>
<html>
  <head>
    <title>Notenübersicht - <%= user.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src='/javascripts/script.js'></script>
    <h1>TODO</h1>
  </body>
</html>